@keyframes vcla-floating-vertical {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 15px);
    }
    to {
        transform: translate(0, -0px);
    }
}

@keyframes vcla-floating-horizontal {
    from {
        transform: translate(0px, 0);
    }
    65% {
        transform: translate(15px, 0);
    }
    to {
        transform: translate(-0px, 0);
    }
}

@keyframes vcla-floating-shadow {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.1);
        transform: translatey(-20px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.4);
        transform: translatey(0px);
    }
}
